<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #user-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .user {
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            width: 200px;
        }
    </style>
    <link rel="stylesheet" href="/static/extentionPack.css">
</head>
<body>


    <div id="root">
        
    </div>

    <script src="/static/rerenderMap.jsx"></script>
    <script src="/static/app.jsx"></script>
    
</body>
</html>
